.sidebar {
  position: fixed;
    width: 170px;
    height: 100vh;
    background-color:  rgb(39, 34, 53);
    color: white;
    padding: 15px 0;
    margin-left: 12px;
    margin-top: 25px;
    overflow-y: auto;
  
  }
  
  .nav-link {
    color: #cfd1d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .nav-link:hover,
  .nav-link.active {
    background-color: #1e2130;
    color: white;
  }
  
  .submenu {
    list-style: none;
    padding-left: 30px;
    margin: 0;
  }
  
  .submenu li .nav-link {
    font-size: 0.9rem;
    padding: 6px 10px;
    color: #ccc;
  }
  
  .submenu li .nav-link:hover {
    color: #fff;
  }
  .top-bar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.feature-table {
  width: 100%;
  border-collapse: collapse;
}

.feature-table th,
.feature-table td {
  padding: 0.75rem;
  border: 1px solid #ddd;
  text-align: center;
}

.feature-table th {
  background-color: #f9f9f9;
  font-weight: 600;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.pricing {
  font-size: 1.2rem;
}

.price.old-price {
  text-decoration: line-through;
  color: #888;
}

.price.new-price {
  font-weight: bold;
  color: #e91e63;
}

     @media screen and (min-width:1290px) {
  .sidebar {
     margin-left: 251px;
    margin-top: -590px;
    width: 175px;
    position:fixed !important;
  }
     }

  