<div class="heading">
    <h5>Party Smart Connect</h5>
    <h6>Seamlessly Connect WhatsApp for Smarter Business Communication</h6>
</div>
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRHFefF_cyBEBTt8Txhw0bCEJBC-S64pF0024eFbpeDuF6AI5dw"
    alt="a1">

<div class="row">
    <div class="one">
        <h6>Effortless Party Interaction</h6>
        <h6>Connect with your parties via WhatsApp in Vyapar</h6>
    </div>
    <div class="two">
        <h6>Secured Party Conversations</h6>
        <h6>Only chats with your business are visible for secure communication.</h6>
    </div>
    <div class="three">
        <h6>Enhance Business Efficiency</h6>
        <h6>Save time and boost productivity with enhanced messaging features.</h6>
    </div>
</div>
<button (click)="openWhatsApp()">Link My WhatApp</button>
