::ng-deep .p-drawer .p-drawer-header {
  background-color: rgb(39, 34, 53) !important;
  color: #f0f0f0; 
  height: 5% !important;
  width: 100% !important;


}


.sidebar{
  width: 19%;
  background-color:  rgb(39, 34, 53) !important;
  color:white !important;
  height: 100%;
   margin-top: 0.1%;
   border-radius: 2%;
   margin-left: -2% !important;
  
}
a{
  color: white;
  margin-top: 13%;
  cursor: pointer;
}
.component{
  margin-left: 19%;
  margin-top: -38%;
}

/* Div 1 */

 .card {
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card-title {
  font-weight: 600;
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}










