::ng-deep .p-drawer .p-drawer-header {
  background-color: rgb(39, 34, 53) !important;
  color: #f0f0f0; 
  height: 5% !important;
  width: 100% !important;


}


.sidebar{
  width: 20%;
  background-color:  rgb(39, 34, 53) !important;
  color:white !important;
  height: 100%;
   margin-top: 0.4%;
  
}










