.icon{
  color: white;
  font-size: 200%;
  margin-left: 93%;
  margin-top: -19%;
  cursor: pointer !important;
}
.toggle-btn{
margin-left: 89%;
    border: none;
    background: none;
}

.sidebar-expanded {
  width: 250px;
  height: 100%;
  background-color: rgb(39, 34, 53);
  transition: width 0.3s ease;
}

.sidebar-collapsed {
  width: 50px;
  height: 100%;
  background-color: rgb(39, 34, 53);
  transition: width 0.3s ease;
  overflow: hidden;
}
a{
  cursor: pointer;
}

.nav a {
    color: white !important;
    font-weight: bold; 
  }
  .dropdown-menu a:hover {
    background-color: rgb(39, 34, 53) !important;
    color: white !important;
  }

  .dropdown-menu a{
    background-color: rgb(250, 250, 250) !important;
    color: rgb(0, 0, 0) !important;
     font-weight: bold; 
  }
  .navbar{
    width: 78vw;
    margin-left: 20vw;
  }

  .nav{
    margin-top:-56px;
    height: 1000px;
    margin-top: 0px !important;
  }
  .home{
    background-color: rgb(244, 177, 177);
    border-radius: 30px;
    color: red;
    margin-left:50px
  }
  .Purchase{
    background-color: rgb(167, 204, 235);
    border-radius: 30px;
    color: rgb(8, 108, 240);
    margin-left: 50vw;
  
  }
  @media screen and (max-width: 768px) {
  nav.nav {
    max-width: 100%;
    width: 100%;
    position: relative;
  }
}

@media screen and (min-width: 1920px) {
  nav.nav {
    font-size: 1.2rem; 
  }
}


   .class{
    background-color: rgb(166, 188, 216);
   }




  
  